* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #dee2e6;
}

nav {
  padding: 0rem 0rem 0rem 2rem;
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  background-color: #edf2f4;
  -webkit-box-shadow: 1px 16px 42px -39px rgba(139, 139, 145, 1);
  -moz-box-shadow: 1px 16px 42px -39px rgba(139, 139, 145, 1);
  box-shadow: 1px 16px 42px -39px rgba(139, 139, 145, 1);
}

div.titulo-esquerda {
  display: inline-block;
  padding-left: 13rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

div.menu-direita {
  display: flex;
  flex-direction: row;
}

div.menu-lista-block {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  margin-right: 10rem;
}

ul.menu-lista li {
  display: inline-block;
  margin: 0rem 1rem;
  padding-top: 0.4rem;
}

div.social-media {
  width: 6rem;
  height: 6rem;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

div.social-media div {
  width: 50%;
  height: 3rem;
  border: 0.1rem solid #edf6f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

span.icon {
  display: block;
  font-size: 100%;
}

div.wall img {
  margin-top: 5rem;
  width: 100%;
  height: 50rem;
}

div.landig-page {
  background-color: #edf2f4;
}

div.about-testimonial {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.conteiner-text {
  margin: 2rem;
  text-align: center;
}

h2.about-text {
  font-size: 1.3rem;
}

div.container-testimonial {
  margin: 1.5rem 10rem 2rem;
}

p.testimonial {
  color: #343a40;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
}

span.word-enforced {
  font-weight: bolder;
}

div.bottom-container {
  margin: 1.5rem 0rem 2rem;
}

div.bottom-about-container {
  text-align: center;
}

div.bottom {
  padding: 0.8rem;
  display: inline-block;
  border: 3px solid #212529;
  cursor: pointer;
}

h2.bottom-text {
  color: #212529;
  font-size: 1rem;
  margin: 0rem 0.8rem 0rem;
}

div.container {
  background-color: #edf2f4;
  margin-top: 0.2rem;
  padding: 3rem 16rem;
  display: flex;
}

div.team-container {
  flex-direction: column;
}

div.text-box {
  padding: 2rem 0rem;
}

h2.text-team {
  font-size: 1.3rem;
  color: #343a40;
}

div.team-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.team-member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 31%;
}

img.team-photo {
  width: 100%;
  height: 23rem;
}

div.text-member {
  padding: 1.5rem 0rem 0rem 0rem;
}

p.subtext-team {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
  color: #6c757d;
  font-size: 0.8rem;
  padding: 0.4rem 0rem;
}

div.social-member {
  margin: 1.5rem 3rem;
  border-top: 0.1rem solid #ced4da;
  border-bottom: 0.1rem solid #ced4da;
  padding: 0.8rem;
  color: #343a40;
}

span.icon-social {
  margin: 0rem 0.3rem;
  cursor: pointer;
}

div.skills-container {
  flex-direction: column;
}

div.skill-box {
  display: flex;
  flex-direction: row;
}

div.left-text-skill {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding-right: 1rem;
}

h2.title-skill {
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
  color: #343a40;
  font-size: 2rem;
}

h3.subtitle-skill {
  font-size: 1.5rem;
  color: #212529;
}

p.body-skill {
  margin-top: 1rem;
  color: #6c757d;
}

div.right-text-skill {
  width: 50%;
  padding-left: 1.5rem;
}

div.line-graph {
  margin: 1.2rem 0rem;
}

div.title-line-graph {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.6rem;
}

span.title-skill {
  font-weight: 600;
  font-size: 0.8rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #212529;
}

span.porcentage {
  font-size: 0.8rem;
  color: #343a40;
}

div.line {
  width: 100%;
  background-color: #212529;
}

div.skill {
  padding: 0.1rem 0rem;
  background-color: #dee2e6;
}

div.web {
  width: 90%;
}

div.marketing {
  width: 50%;
}

div.graph-design {
  width: 95%;
}

div.javascript {
  width: 70%;
}

div.html-css {
  width: 90%;
}

div.seo {
  width: 60%;
}

div.parallax {
  background-image: url('../src/resources/jesse-gardner-mERlBKFGJiQ-unsplash-min.jpg');
}