* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f07167;
}

nav {
  padding: 0rem 0rem 0rem 2rem;
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  background-color: #edf2f4;
  -webkit-box-shadow: 1px 16px 42px -39px rgba(139, 139, 145, 1);
  -moz-box-shadow: 1px 16px 42px -39px rgba(139, 139, 145, 1);
  box-shadow: 1px 16px 42px -39px rgba(139, 139, 145, 1);
}

div.titulo-esquerda {
  display: inline-block;
  padding-left: 13rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

div.menu-direita {
  display: flex;
  flex-direction: row;
}

div.menu-lista-block {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    margin-right: 10rem;
}

ul.menu-lista li {
    display: inline-block;
    margin: 0rem 1rem;
    padding-top: 0.4rem;
}

div.social-media {
    width: 6rem;
    height: 6rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

div.social-media div {
    width: 50%;
    height: 3rem;
    border: 0.1rem solid #edf6f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

span.icon {
  display: block;
  font-size: 100%;
}